---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <!-- <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header> -->

          <h3>Education</h3>
          <p><strong>MSc</strong></p>
          <ul>
            <li> Computer Science (AI) </li>
            <li> <a href="https://ust.ac.kr/eng.do">University of Science And Technology</a>, Daejeon, South Korea</li>
            <li> Student Researcher at <a href="https://www.etri.re.kr/eng/main/main.etri">Electronics and Telecommunications Research Institute (ETRI)</a>, Daejeon, South Korea</li>
            <li><p>Download CV <a href="/assets/pdf/CV_WAHD.pdf" style="font-size: 20px">here.</a></p></li>
          </ul>

          <p><strong>Undergraduate</strong></p>
          <ul>
            <li>Electronic Infomation Engineering</li>
            <li><a href="https://en.uestc.edu.cn/">University of Electronic Science and Technology of China</a>, Chengdu, China</li>
            <li><p>Download transcript <a href="/assets/pdf/transcript.pdf" style="font-size: 20px">here.</a></p></li>
          </ul>

          
        </div>